<template>
  <a :href="link">  
  <img
    class="h-80 w-56 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-grey-900"
    :src="imgSrc"
    :alt="alt"
  /></a>
</template>

<script>
export default {
  props: {
    imgSrc: String,
    alt: String,
    link: String,
  },
};
</script>

<style>
</style>
